<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script src="js/jquery-1.9.1.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>收银台</title>
<link href="css/r-base.css" rel="stylesheet" type="text/css" />
<link href="css/base.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wd-header">
	<div class="w1030 clearfix"> <a class="dodopal-logo" href="/"></a>
	</div>
</div>
<div class="clear"></div>
<div class="com-bor-box com-bor-box1 pay-way-result">
	<h3 class="tit-h3 pay-result">充值结果</h3>
		<div class="popConts pay-way-conr">
			<ul class="jige-ul mb20">
				<li><em>订单编号：</em>XXXXXXXXXXxxxxxxxxxxxxxxxxxx</li>
				<li><em>充值金额：</em><span class="orange">50</span>元</li>
				<li><em>订单应收金额：</em><span class="orange">65</span>元</li>
				<li><em>订单实收金额：</em><span class="orange">65</span>元</li>
				<li><em>充值前卡内余额：</em><span class="orange">65</span>元</li>
			</ul>
			<div class="wait-result" style="display:block;padding-right:255px;"><i></i>
			<h3>一卡通充值中...</h3>
			</div>
			<div class="ok-tips mb20" style="display:none;margin-left:75px;"><i></i>一卡通充值成功！</div>
			<div class="err-tips mb20" style="display:none;margin-left:75px;"><i></i>一卡通充值失败！</div>

		</div>
		<ul class="ul-btn ul-btn02" style="display:none;margin-left:140px;">
			<li><a onclick="popclo(this)" class="pop-borange" href="javascript:;">确认</a></li>
			<li><a class="pop-bgrange" js="clopop" href="javascript:;">打印</a></li>
		</ul>
</div>
<div class="clear"></div>
<div class="wd-footer">
	<div class="container footer-p">
    	<p><a href="#">关于都都宝</a>&nbsp;|&nbsp;<a href="#">系统公告</a>&nbsp;|&nbsp;<a href="#">帮助中心</a>&nbsp;|&nbsp;官方微博 <a href="#">http://weibo.com/dodopal</a></p>
        <p>都都宝版权所有xxxxxxxxxxxxxx&nbsp;&nbsp; <span style="color:#E47F12">使用完毕后请安全退出请勿泄露自己的登录名和密码</span></p>
    </div>
</div>

</body>
</html>

