<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodopal.common.dao.PrdYktInfoMapper">
	<resultMap type="PrdYktInfo" id="prdYktInfoResultMap">
		<result property="id" column="ID" />
		<result property="yktCode" column="YKT_CODE" />
		<result property="yktName" column="YKT_NAME" />
	</resultMap>
</mapper>
