<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodopal.transfernew.business.dao.TranDiscountMapper">
	<!-- 检查信息是否重复 -->
	<select id="findTranDiscountCheck" resultType="TranDiscount" parameterType="TranDiscount">
		select count(1) from tran_discount
		<where>
		1=1
        	<if test="beginDate!=null and beginDate!=''">   
        	<![CDATA[
        	 and begin_date = #{beginDate,jdbcType=DATE}
           	 ]]>
        	</if>  
        	<if test="endDate!=null and endDate!=''">  
        	<![CDATA[
        	 and end_date = #{endDate,jdbcType=DATE}
           	 ]]>
        	</if>  
        	<if test="week!=null and week!=''">   
           	and week = #{week}
        	</if>  
        	<if test="beginTime!=null and beginTime!=''">   
           	 and begin_time = #{beginTime}
        	</if>  
        	<if test="endTime!=null and endTime!=''">   
           	 and end_time = #{endTime}
        	</if>
        	<if test="discountThreshold!=null and discountThreshold!=''">   
           	 and discount_threshold = #{discountThreshold}
        	</if> 
        	<if test="setDiscount!=null and setDiscount!=''">   
           	 and set_discount = #{setDiscount}
        	</if>    
    	</where>  
	</select>

	<select id="findTranDiscountByOldSaleId" resultType="TranDiscount" parameterType="string">
		select * from tran_discount
		where old_sale_id = #{oldSaleId} 
	</select>

	<insert id="addTranDiscount" parameterType="TranDiscount">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select tran_discount_id_seq.NEXTVAL from dual
		</selectKey>
		INSERT INTO
		TRAN_DISCOUNT(ID,BEGIN_DATE,END_DATE,WEEK,BEGIN_TIME,END_TIME,DISCOUNT_THRESHOLD,SET_DISCOUNT,OLD_SALE_ID)
		VALUES
		(#{id},#{beginDate},#{endDate},#{week},#{beginTime},#{endTime},#{discountThreshold},#{setDiscount},#{oldSaleId})
	</insert>

	<insert id="batchAddTranDiscount" parameterType="java.util.List">
		INSERT INTO
		TRAN_DISCOUNT(ID,BEGIN_DATE,END_DATE,WEEK,BEGIN_TIME,END_TIME,DISCOUNT_THRESHOLD,SET_DISCOUNT,OLD_SALE_ID)
		select tran_discount_id_seq.NEXTVAL,a.* from(
		<foreach collection="list" item="item" index="index" separator="union" >
			select 
			#{item.beginDate},
			#{item.endDate},
			#{item.week},
			#{item.beginTime},
			#{item.endTime},
			#{item.discountThreshold},
			#{item.setDiscount},
			#{item.oldSaleId}
			from dual
		</foreach>
		) a
	</insert>
</mapper>