<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodopal.transfer.business.dao.BiposidsaletbMapper">
	<resultMap type="Biposidsaletb" id="biposidsaletbResultMap">
		<result property="saleid" column="SALEID" />
		<result property="posid" column="POSID" />
	</resultMap>
</mapper>