<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodopal.transfer.business.dao.BisalediscountMapper">
	<resultMap type="Bisalediscount" id="bisalediscountResultMap">
		<result property="saleid" column="SALEID" />
		<result property="mchnitid" column="MCHNITID" />
		<result property="startdate" column="STARTDATE" />
		<result property="enddate" column="ENDDATE" />
		<result property="week" column="WEEK" />
		<result property="starttime" column="STARTTIME" />
		<result property="endtime" column="ENDTIME" />
		<result property="sale" column="SALE" />
		<result property="setsale" column="SETSALE" />
	</resultMap>
</mapper>