<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodopal.transfer.business.dao.TranDiscountMapper">
	<resultMap type="TranDiscount" id="tranDiscountResultMap">
		<result property="id" column="ID" />
		<result property="beginDate" column="BEGIN_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="week" column="WEEK" />
		<result property="beginTime" column="BEGIN_TIME" />
		<result property="endTime" column="BEGIN_TIME" />
		<result property="discountThreshold" column="DISCOUNT_THRESHOLD" />
		<result property="setDiscount" column="SET_DISCOUNT" />
	</resultMap>
</mapper>