<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodopal.transfernew.business.dao.MerchantTranDiscountMapper">
	<resultMap type="MerchantTranDiscount" id="mtdResultMap">
		<result property="merCode" column="MER_CODE" />
		<result property="discountId" column="DISCOUNT_ID" />
	</resultMap>
</mapper>