<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodopal.users.business.dao.MerDiscountReferMapper">
	<resultMap type="merDiscountRefer" id="merDiscountReferResultMap">
		<result property="id" column="ID" />
		<result property="merCode" column="MER_CODE" />
		<result property="merDiscountId" column="MER_DISCOUNT_ID" />
		
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="activate" column="ACTIVATE" />
		<result property="discount" column="DISCOUNT" />
		<result property="sort" column="SORT" />
	</resultMap>
</mapper>
