<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodopal.running.business.dao.SysTimeThresholdMapper">

<!-- 根据业务编号   查询其时间阀值 -->
	<select id="findSysTimeThresholdByCode" resultType="SysTimeThreshold" resultMap="sysTimeThresholdResultMap" parameterType="java.lang.String">
		select * from SYS_TIME_THRESHOLD S where S.CODE = #{code}
	</select>
	
</mapper>