<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodopal.transfer.business.dao.MerchantTranDiscountMapper">
	<insert id="addMerchantTranDiscount" parameterType="MerchantTranDiscount">
		INSERT INTO
		MERCHANT_TRAN_DISCOUNT(MER_CODE,DISCOUNT_ID)
		VALUES
		(#{merCode,jdbcType=VARCHAR},#{discountId,jdbcType=VARCHAR})
	</insert>


</mapper>