<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodopal.users.business.dao.MerRoleFunMapper">
	<sql id="allColumns">
		ID,ACTIVATE,CREATE_USER,CREATE_DATE,UPDATE_USER,UPDATE_DATE,
		MER_FUN_CODE,MER_ROLE_CODE,MER_FUN_NAME
	</sql>

	<select id="findMerRoleFun" resultType="MerRoleFun" resultMap="merRoleFunResultMap" parameterType="MerRoleFun">
		select <include refid="allColumns" /> from MER_ROLE_FUN
		<where>
			mer_role_code = #{merRoleCode}
			<if test="merFunCode != null and merFunCode !=''">
				and mer_fun_code = #{merFunCode}
			</if>
			<if test="merFunName != null and merFunName !=''">
				and mer_fun_name = #{merFunName}
			</if>
			<if test="activate != null and activate !=''">
				and activate = #{activate}
			</if>
		</where>
	</select>

	<select id="findMerRoleFunByMerRoleCode" resultType="MerRoleFun" resultMap="merRoleFunResultMap" parameterType="java.lang.String">
		select <include refid="allColumns" /> from MER_ROLE_FUN where mer_role_code = #{merRoleCode}
	</select>

	<select id="findMerRoleFunById" resultType="MerRoleFun" resultMap="merRoleFunResultMap" parameterType="java.lang.String">
		select <include refid="allColumns" /> from MER_ROLE_FUN where id = #{id}
	</select>

	<insert id="batchAddMerRoleFun" parameterType="java.util.List">
		INSERT INTO MER_ROLE_FUN(
			ID,
			CREATE_USER,
			CREATE_DATE,
			ACTIVATE,
			MER_ROLE_CODE,
			MER_FUN_CODE,
			MER_FUN_NAME
		)
		select MER_ROLE_FUN_ID_SEQ.NEXTVAL,a.* from(
		<foreach collection="list" item="item" index="index" separator="union" >
			select
			#{item.createUser, jdbcType=VARCHAR},
			sysdate,
			#{item.activate},
			#{item.merRoleCode, jdbcType=VARCHAR},
			#{item.merFunCode, jdbcType=VARCHAR},
			#{item.merFunName, jdbcType=VARCHAR}
			from dual
		</foreach>
		) a
	</insert>

	<update id="updateActivateById">
		update MER_ROLE_FUN
		set activate =#{activate}
		where id=#{id}
	</update>

	<update id="updateActivateByMerRoleCode">
		update MER_ROLE_FUN
		set activate =#{activate}
		where mer_role_code=#{merRoleCode}
		<if test="list != null">
			and MER_FUN_CODE in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
  			#{item.merFunCode}
 			</foreach>
		</if>
	</update>

	<delete id="delMerRoleFunByMerRoleCode" parameterType="java.lang.String">
		delete from MER_ROLE_FUN where mer_role_code = #{merRoleCode}
	</delete>
</mapper>