/* CSS Document */

/*应用中心*/
.app-left { float:left; width:185px; border:2px solid #dcdcdc; border-top-color:#004986; background-color:#f0f2f5; height:603px;}
.app-left ul{ padding:10px 0 0 8px;}
.app-left ul li{ float:left; width:177px; font-size:16px;}
.app-left ul li a{ display:block; border-bottom:1px solid #fefefe; line-height:30px; position:relative; color:#606060;}
.app-left ul li a span{ display:block; border-bottom:1px solid #dcdddf; padding:10px 0 10px 70px;}
.app-left ul li i{ display:block; position:absolute; width:30px; height:30px; left:20px; top:50%; margin-top:-15px;}
.app-left ul .snavi01 i{ background-position:0 -603px;}
.app-left ul .snavi02 i{ background-position:-62px -603px;}
.app-left ul .snavi03 i{ background-position:-124px -603px;}
.app-left ul .snavi04 i{ background-position:-186px -603px;}
.app-left ul .snavi05 i{ background-position:-247px -603px;}
.app-left ul .snavi06 i{ background-position:-309px -603px;}
.app-left ul .snavi07 i{ background-position:-371px -603px;}
.app-left ul li a:hover,
.app-left ul li .on{ background:#fafafa url(images/bg_appleft01.png) no-repeat left top; border-bottom:0; width:179px; margin-right:-10px;}
.app-left ul li a:hover span,
.app-left ul li .on span{ background: url(images/bg_appleft02.png) no-repeat left bottom; border-bottom:0; padding-bottom:12px;}
.app-left ul .snavi01 a:hover i,.app-left ul .snavi01 .on i{ background-position:0 -666px;}
.app-left ul .snavi02 a:hover i,.app-left ul .snavi02 .on i{ background-position:-62px -666px;}
.app-left ul .snavi03 a:hover i,.app-left ul .snavi03 .on i{ background-position:-124px -666px;}
.app-left ul .snavi04 a:hover i,.app-left ul .snavi04 .on i{ background-position:-186px -666px;}
.app-left ul .snavi05 a:hover i,.app-left ul .snavi05 .on i{ background-position:-247px -666px;}
.app-left ul .snavi06 a:hover i,.app-left ul .snavi06 .on i{ background-position:-309px -666px;}
.app-left ul .snavi07 a:hover i,.app-left ul .snavi07 .on i{ background-position:-371px -666px;}

.app-right{ float:right; width:841px; background-color:#fafafa;}
.app-right-fr{float:none;width:1028px;border:1px solid #ccc;}
.app-dl{ font-size:14px; padding-right:62px; color:#44403f; line-height:26px; padding-bottom:33px; border-bottom:1px dashed #bdbebf; margin:0 20px;}
.app-dl dt{ float:left; width:110px; text-align:right; clear:left;padding-bottom:10px;}
.app-dl dd{padding-bottom:10px; overflow: hidden; zoom:1; min-height:26px;}
.app-dl .pay-navi-ul{ float:none; width:auto;}
.app-dl .recharge-amount a{ display:block; float:left; border:1px solid #ccc; background-color:#dedede; line-height:20px; padding:1px; min-width:29px; font-family:Arial; text-align:center; color:#606060; margin-right:17px; position: relative;}
.app-dl .recharge-amount a:hover{ border:2px solid #e47f11; padding:0; color:#e47f11; background-color:#fff;}
.app-dl .recharge-amount a.a-click{border:2px solid #e47f11; padding:0; color:#e47f11; background-color:#fff;}
.app-dl .recharge-amount a.a-click s{ display: block; background: url(images/com_ico.png) no-repeat -316px -502px; width: 10px; height: 10px; position: absolute; bottom: 0; right: 0;}
.app-dl .pay-way{ background-color:#fff; margin-bottom:40px;}
.app-dl .recharge-order{ border:1px solid #808080; width:498px; height:156px; overflow-y:scroll; background-color:#fff;}
.app-dl .recharge-order table{ width:100%; font-size:12px; color:#44403f; border-collapse:collapse;}
.app-dl .recharge-order table th,.app-dl .recharge-order table td{ margin:-1px; text-align:center; vertical-align:middle; font-weight:normal; border-bottom:1px solid #bdbdbd; border-right:1px solid #bdbdbd; height:20px; padding:5px 0; line-height:20px;}
.app-dl .recharge-order table th{ line-height:32px; padding:0;}
.app-dl .btn-recharge{ padding:30px 0 0 0;}
.pay-way ul{margin:0 10px; padding:0 10px;}
.pay-way .payway-ul{  padding:12px 20px 12px; margin: 0 0 5px 0;}
.pay-way .payway-ul:hover{ border: 2px solid #a2d3e8; padding: 10px 18px 10px;}
.pay-way .payway-ul-click{ border: 2px solid #37b4e9; padding: 10px 18px 10px; position: relative;}
.pay-way .payway-ul-click s{ background: url(images/com_ico.png) no-repeat -366px -499px; width:14px; height: 14px; display: block; position: absolute; right:0; bottom: 0;}
.pay-line{border-bottom:1px dashed #bdbebf; margin: 0 10px 5px;}
.pay-way .pay-navi-ul{}
.pay-way .pay-navi-ul li a:hover,
.pay-way .pay-navi-ul .on a {border-color:#eff0f2; border-bottom:0; border-top-color:#37b4e9;}
.pay-way .pay-way-box{ margin:0; border:2px solid #eff0f2;}
.pay-way .pay-way-list { padding:10px 0 30px; margin:0;}
.pay-way .pay-way-list li{ width:168px; padding:20px 0 0 25px;}
.pay-way .pay-way-list .span-img{ display:block; border:1px solid #dcdcdc; width:128px; padding:3px 1px 2px;}
.pay-way .pay-way-list img { width:90px;}
.pay-way .prompt-span01{ top:-14px; left:22px;}
.pay-way .prompt-span02{ right:-14px;}
.pay-way .pay-way-list label{ padding:0 0 0 22px; width:auto;}
.app-dl .orange-btn-h32{ width:118px;}
.app-dl02{ color:#44403f; font-size:12px; line-height:20px; padding:15px 40px 35px; margin:0 20px;}
.app-dl02 dt{ font-size:14px; margin-bottom:10px;}

.popConts{ padding: 20px 80px 0 80px; color: #44403f; font-size: 14px;}
.f18{ font-size: 18px;}

.jige-ul{ font-size: 14px; text-align: left;}

.jige-ul li{ text-align: left;}
.jige-ul li em{ width: 120px; display: inline-block; text-align: right; font-style: normal;}
.ok-tips{ position: relative; padding-left: 45px; line-height: 37px; font-size: 18px; color: #44403f; margin-left: 10px; margin-bottom:5px;}
.ok-tips i{ background: url(icons/reg-icons.png) no-repeat -320px 0; display: block; position: absolute; width: 36px; height: 36px; left: 0;}

.err-tips{ position: relative; padding-left: 45px; line-height: 37px; font-size: 18px; color: #44403f; margin-left: 10px; margin-bottom:5px;}
.err-tips i{ background: url(icons/reg-icons.png) no-repeat -358px 0; display: block; position: absolute; width: 36px; height: 36px; left: 0;}

.popConts dt{ float: left;}
.popConts dd{ overflow: hidden; zoom:1;}

.er-set{ color: #f31200; font-size: 12px; background-color: #fffde7; display: inline-block; padding-right: 20px; float: left;}
.er-set i{ background: url(icons/errtip-icon.png) no-repeat left top; width: 16px; height: 16px; display: inline-block; vertical-align: middle; margin-right: 4px;}

/****应用中心－批量充值****/
.app-right .seach-top-inner { color:#444;font-size: 12px; padding:12px 0;}
.app-right .seach-top-inner ul li.btn-list{ padding-left:15px;}
.app-right .select_box{ margin-right:0;}
.app-right .text-icon { margin:0;}
.app-right .null-box{ min-height:125px;}
.app-right .page-navi span.fl,.app-right .page-navi input,.app-right .page-navi span.fl a{ margin:0;}
.app-right .page-navi span.fl span{ margin-left:0;}

/*交易详情*/
.times { font-size: 14px; color: #44403f; margin: 0px 0px 0px 40px;}
.times-info { margin:0 40px;padding-bottom:10px; border-bottom:1px dashed #bdbebf; margin-bottom:15px;}

