<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 缓存AOP配置 -->
    <context:component-scan base-package="com.dodopal.nettyserver" />
   <context:component-scan base-package="com.dodopal.merdevice" />
    <!--&lt;!&ndash;<bean id="tcpServerDelegate" class="com.dodopal.merdevice.delegate.impl.TcpServerDelegateImpl"/>-->
    <bean id="merdeviceHanlder" class="com.dodopal.nettyserver.netty.MerdeviceHanlder"/>
       <!--     <property name="tcpServerDelegate" ref="tcpServerDelegate"/>
     </bean>-->
    <bean id="childChannelHandler" class="com.dodopal.nettyserver.netty.ChildChannelHandler">
        <property name="merdeviceHanlder" ref="merdeviceHanlder"/>
    </bean>
    <bean id="nettyExecutorService" class="com.dodopal.nettyserver.service.NettyExecutorService">
       <constructor-arg index="0" ref="childChannelHandler"></constructor-arg>
    </bean>
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">  
            <bean class="com.google.code.kaptcha.util.Config">  
                <constructor-arg>  
                   <props>  
                        <prop key="kaptcha.image.width">200</prop>  
                        <prop key="kaptcha.image.height">50</prop>
                        <prop key="kaptcha.textproducer.font.color">red</prop>
                        <prop key="kaptcha.textproducer.font.size">40</prop>    
                        <prop key="kaptcha.session.key">code</prop>  
                        <prop key="kaptcha.textproducer.char.length">4</prop>  
                    </props> 
                </constructor-arg>  
            </bean>  
        </property>  
    </bean>  

    <bean id ="placeHolderConfig" class="com.dodopal.common.util.DodopalPropertyPlaceholderConfigurer">
		<property name="propertiesFile" value="/opt/app/merdevice/appVar_all.properties"></property>
	</bean>
	
	<context:property-placeholder ignore-resource-not-found="false" location="classpath*:config/*.properties" />

	<!-- <import resource="classpath:META-INF/spring/spring-security.xml" /> -->

	<import resource="classpath:META-INF/spring/db/applicationContext_dataSource.xml" />
	<import resource="classpath:META-INF/spring/db/applicationContext_transaction.xml" />
	
	<!-- <import resource="classpath:META-INF/spring/merdevice_delegate.xml"/> -->
	
	<import resource="classpath:META-INF/spring/dodopal_common_mybatis.xml"/>
    <import resource="classpath:META-INF/spring/dodopal_common_service.xml"/>
	
	<import resource="classpath:META-INF/spring/merdevice_mybatis.xml" />
<!-- 	<import resource="classpath:META-INF/spring/merdevice_business.xml" />
 -->	
	<import resource="classpath:META-INF/spring/merdevice_hessian.xml"/>
	
	<import resource="classpath:META-INF/spring/javamelody.xml"/>
	
	<!--<import resource="classpath:META-INF/spring/merdevice_mina.xml"/>-->
	<aop:aspectj-autoproxy />
</beans>