@charset "utf-8";
/* CSS Document */
/*重置浏览器样式*/

body,
h1,
h2,
h3,
p,
ul,
li,
dl,
dt,
dd,
img,
form,
input { margin: 0px; padding: 0px; list-style: none; border: 0px; }
img { border-style: none; }
a { text-decoration: none; color: #808080; }
* html .clearfix { zoom: 1; }
*+html .clearfix { zoom: 1; }
.clearfix:after { height: 0; visibility: hidden; content: "."; display: block; clear: both; }
i { font-style: normal; }
.fl { float: left !important; }
.fr { float: right !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb0{ margin-bottom:0 !important;}
.pb0 { padding-bottom: 0px !important; }
.pl0 { padding-left: 0 !important; }
.taCenter{ text-align:center !important;}
.taLeft{ text-align:left !important;}
.red{ color:#f00;}
/*全局控制*/

body { font-size: 12px; font-family: Verdana, Geneva, sans-serif, "微软雅黑", "宋体"; color: #808080; line-height: 25px; min-width: 1030px; background-color: #f0f2f5; }
.clear { clear: both }/*清除浮动*/
.w1030 { width: 1030px; margin: 0 auto; }
.wd-checkbox { width: 14px; height: 14px; border: 1px solid #ddd; float: left; }
.dw-blue { color: #309dcb; font-size: 15px; font-weight: bold; }
.wd-orage { border: 1px solid #e47f13; color: #e47f13; background-color: transparent; height: 30px; width: 84px; float: right; }
.wd-orageBtn { border: 1px solid #e47f13; color: #e47f13; background-color: transparent; height: 34px; width: 79px; }
.wd-orageBtn2 { border: 1px solid #c0c0c0; color: #c0c0c0; background-color: transparent; height: 34px; width: 79px; }
.wd-orageBtn3 { border: 1px solid #c0c0c0; color: #c0c0c0; background-color: transparent; height: 34px; width: 79px; }
.wd-orage1 { color: #e47f13; }
.wd-orage1:hover { color: #e47f13; text-decoration: underline; }
.wd-blue { color: #37b4e9; ; height: 38px; width: 84px }
.wd-blue:hover { color: #37b4e9; text-decoration: underline; }
.wd-btn { color: #fff; width: 220px; height: 40px; font-weight: bold; font-size: 14px; cursor: pointer; }
.wd-btn-1 { background-color: #e47f13; }
.wd-btn-1:hover { background-color: #e48a0d; }
.wd-btn-2 { background-color: #309dcb; }
.wd-btn-2:hover { background-color: #55c4f3; }
.wd-btn-3 { background-color: #c0c0c0; }
.wd-btn-3:hover { background-color: #c0c0c0; }
.wd-select { width: 100px; height: 30px; border: 1px solid #ddd; line-height: 29px; padding: 5px 5px 5px 10px; font-size: 12px; color: #595959; }
.phone-icon,
.dodopal-logo,
.header-nav li i,
.ico_name,
.i-more,
.notes-txt i,.app-left ul i { background: url(../css/images/com_ico.png) no-repeat; }
.blue{ color:#37b4e9;}
.orange{ color:#e47f12;}
/*顶部*/

.header-top { background-color: #004986; }
.header-top .w1030 { overflow: hidden; zoom: 1; }
.header-top-left { float: left; color: #fff; font-size: 10px; line-height: 26px; font-weight:bold; }
.phone-icon { background-position: -5px -24px; width: 22px; height: 18px; display: inline-block; vertical-align: middle; margin: -2px 5px 0 0; }
.header-top-right { float: right; color: #fff; overflow: hidden; zoom: 1; line-height: 1.2; padding: 6px 0; margin-right: -10px; }
.header-top-right li { float: left; border-right: 1px solid #1294cc; padding: 0 10px; }
.header-top-right a { color: #fff; cursor: pointer; }
.header-top-right a:hover { text-decoration: underline; }
.ico_name { display: inline-block; width: 8px; height: 4px; background-position: -75px -31px; vertical-align: middle; margin: -2px 0 0 5px; }
/*header*/

.wd-header { background-color: #fff; }
.dodopal-logo { width: 228px; height: 57px; background-position: -152px -11px; float: left; margin: 12px 0; }
.header-nav { float: right; }
.header-nav ul li { float: left; font-size: 18px; padding: 25px 0 0 48px; height: 56px; }
.header-nav ul li a { display: block; color: #444; font-weight: bold; position: relative; }
.header-nav ul li a:hover { color: #e47f12; }
.header-nav ul li a i { display: none; background-position: -7px -106px; width: 17px; height: 9px; position: absolute; left: 50%; bottom: 0; margin-left: -8px; }
.header-nav ul li .on { height: 56px; color: #e47f12; }
.header-nav ul li .on i { display: block; }
.header-inr-nav { background-color: #c5dff5; padding: 2px 0; }
.header-inr-nav ul li { float: left; line-height: 22px; margin-right: 20px; }
.header-inr-nav ul li a { display: block; color: #606060; padding: 0 15px; }
.header-inr-nav ul li a:hover,
.header-inr-nav ul li a.cur { background-color: #e47f14; color: #fff; }
.header-banner { background: url(../css/images/bg_wd-inr-nav.png) no-repeat center top; min-height: 98px; }
.header-banner .header-photo { width: 76px; height: 76px; overflow: hidden; zoom: 1; float: left; margin: 11px 0; position: relative; }
.header-banner .header-photo .bg01 { position: absolute; top: 0; left: 0; display: block; width: 76px; height: 76px; z-index: 9; background: url(../css/images/01.png) no-repeat left top; }
.header-txt-box { overflow: hidden; padding: 25px 0 0 30px; }
.header-txt-box p { padding-top: 5px; color: #fff; }

/*业务城市设置*/
.city-name{position:relative;}
.city-name a{color:#fff; text-decoration:underline;}
.set-city{ border: 1px solid #ccc; padding: 10px; overflow: hidden; zoom:1; width: 330px; position:absolute;background-color: #fff; font-size: 12px; z-index:1000;}
.set-city-list{ overflow: hidden; zoom:1; clear: both;}
.set-city-list li{ float: left; margin-bottom: 5px;}
.set-city-list li a{ padding: 0 6px 5px; border-bottom: 2px solid #dedcdc; line-height: 1.5; }
.set-city-list li a:hover,
.set-city-list li a.on{ color: #37b4e9; border-bottom: 2px solid #37b4e9;}
.set-city-dl dt{ float: left; width: auto; color: #37b4e9; width: 10px; text-align: center;}
.set-city-dl dd { width: auto; overflow: hidden; zoom:1;}
.set-city-dl dd ul li{ cursor: pointer; width: 46px; float: left; text-align: center;}
.set-city-dl dd ul li a{ display: block; color:#606060;}
.set-city-dl dd ul li a:hover{ background-color: #37b4e9; color: #fff;}

.header-txt-box p i { font-size: 16px; margin-right: 18px; }
.header-txt-box p .i-line{ font-size:12px; display:inline-block; width:52px; text-align:center; margin:0;}
.header-txt-box p span{ display:inline-block;}
/*main*/

.con-main { width: 1030px; margin: 29px auto 0; }
.wd-reg-title .wd-icon1 { float: left; }
.wd-reg-title .wd-icon2 { float: left; }

/*footer*/
.footer-navi { background: #004986 url(../css/images/bg_footer02.png) repeat-x left bottom; padding-bottom: 1px; overflow: hidden; zoom: 1; text-align: center; }
.foot-bg { background: url(../css/images/bg_footer01.png) repeat-x left top; clear: both; overflow: hidden; zoom: 1; }
.footer-navi .foot-inner { width: 1030px; margin: 0 auto; position: relative; }
.footer-navi ul { width: 770px; float: left; margin-top: 20px; overflow:hidden; zoom:1;}
.footer-navi li { float: left; }
.footer-navi li a i,
.footer-navi .home a i,
.footer-navi .home i.san,
.footer-navi .more a { background: url(../css/images/com_ico.png) no-repeat left top; display: inline-block; }
.footer-navi li a { display: inline-block; color: #fff; }
.footer-navi li.navi { line-height: 60px; padding: 0 5px; }
.footer-navi li.navi a { padding: 0 7px; }
.footer-navi li.navi a.cur,
.footer-navi li.navi a:hover { background-color: #002a60; }
.footer-navi li.navi i { width: 40px; height: 40px; vertical-align: middle; margin-right: 10px; }
.footer-navi li.navi i.one { background-position: -81px -166px; }
.footer-navi li.navi i.two { background-position: -176px -166px; }
.footer-navi li.navi i.three { background-position: -271px -166px; }
.footer-navi li.navi i.four { background-position: -358px -166px; }
.footer-navi li.navi i.five { background-position: -3px -254px; }
.footer-navi li.navi i.six { background-position: -84px -254px; }
.footer-navi li.navi i.seven { background-position: -181px -254px; }
.footer-navi .more { margin-top: 20px; float: left; }
.footer-navi .more a { width: 40px; height: 60px; background-position: -97px -316px; display: block; }
.footer-navi .more a:hover { background-position: -157px -316px; }
.footer-navi .more a.open { background-position: -234px -316px; }
.footer-navi .more a.open:hover { background-position: -294px -316px; }
.foot-inner .home { float: left; }
.footer-navi .home { position: relative; padding-right: 10px; margin: 9px 5px 0 0; }
.footer-navi .home a { width: 100px; margin: 0; display: inline-block; height: 70px; background-color: #002a60; color: #fff; background-position: 0 -172px; }
.footer-navi .home a i { width: 29px; height: 29px; display: block; background-position: -1px -172px; margin: 13px auto 0; }
.footer-navi .home i.san { position: absolute; top: 0; left: 100px; width: 10px; height: 10px; display: block; background-position: -289px -253px; }
.footer-navi .erweima { position: absolute; right: 0; top: 0; }
.footer-copy { background-color: #ccc; height: 100px; }
.footer-p { text-align: center; padding-top: 10px; font-weight: normal; font-size: 12px; line-height: 24px; color: #6a6a6a; }
.footer-p a { color: #666; }
.footer-p a:hover { color: #e48a0d; text-decoration: underline; }
.footer-p .orange { color: #e47f12; }

/*select*/
.select_box{ float:left; font-size:12px; margin-right:5px; color:#444; background-color:#fff;}
.tag_select,.tag_select_hover,.tag_select_open{line-height:30px; height:30px; width:250px; padding:0 10px; background:url(../css/images/ico_01.png) no-repeat right center;}
.tag_select{ border:1px solid #ccc;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;display:block;}
.tag_select_hover,.tag_select_open{ border:1px solid #37b4e9;}
.tag_select_hover{overflow: hidden;text-overflow: ellipsis; white-space: nowrap;display:block;}
.tag_options{ border:1px solid #8f8f8f; margin-top:-1px; width:270px; background-color:#fff; max-height:150px; overflow-y:scroll; overflow-x:hidden;}
.tag_options li{ float:none !important; padding:0 10px !important;}
.tag_options li.open_hover{ background-color:#eee;}
.tag_options li.open_selected{ background-color:#d7f0fb;}
.select-wid03 .tag_select,
.select-wid03 .tag_select_hover,
.select-wid03 .tag_select_open,
.select-wid03 .tag_options li{ width:85px;}
.select-wid03 .tag_options{ width:105px;}

/*icons*/
.wd-icon { background: url(../css/icons/reg-icons.png) no-repeat; }
.wd-icon1 { background-position: -320px 0px; width: 36px; height: 36px; }
.wd-icon2 { background-position: -358px 0px; width: 36px; height: 36px; }


/*btn*/
.orange-btn-h22,.orange-btn-h32 { padding:0; height: 22px; cursor: pointer; line-height: 22px; min-width: 58px; text-align: center; background-color: #e47f11; font-size: 12px; font-family: "Microsoft YaHei"; color: #fff; border:0; display: inline-block; }
.orange-btn-h32{ min-width:100px; line-height:32px;font-size: 14px;min-width: 100px; height:32px;}
.gray-btn-h22 { padding: 0 5px; height: 22px; cursor: pointer; line-height: 22px; min-width: 58px; text-align: center; background-color: #f0f2f5; font-size: 12px; font-family: "Microsoft YaHei"; color: #c8c8c8; border: none; display: inline-block; }
.orange-btn-h26,.bule-btn-h26,.gray-btn-h26  { padding: 0 5px; height: 28px !important; cursor: pointer; line-height: 27px !important; min-width: 78px; text-align: center; background-color: #e47f11; font-size: 14px; font-family: "Microsoft YaHei"; color: #fff; border: none; display:inline-block;}
.bule-btn-h26{ background-color:#37b4e9;}
.gray-btn-h26{ background-color:#808080;}
.orange-btn-text26 { color: #e47f11; cursor: pointer; line-height: 27px !important; height: 28px !important; padding: 0; margin: 0; background: none; font-family: "Microsoft YaHei"; }
.orange-btn-text32 { color: #e47f11; cursor: pointer; line-height: 32px; height: 32px; cursor: pointer; min-width: 100px; padding: 0; margin: 0; background: none; font-family: "Microsoft YaHei"; }
h3.tit-h3 { background-color: #f5f7fa; border: 1px solid #cccccc; border-top: 2px solid #004986; border-bottom: none; line-height: 35px; font-size: 14px; color: #37b4e9; padding-left: 20px; font-family: "Microsoft YaHei"; }
h3.tit-h3-01 { background-color: #f5f7fa;border-top: 2px solid #004986;line-height: 35px; font-size: 14px; color: #37b4e9; padding-left: 20px; font-family: "Microsoft YaHei"; }
h3.tit-h3-02{ background-color:#fafafa;}
h3.tit-h3 span{ color:#44403f; font-weight:normal;}
h3.tit-h3 a { color: #666666; font-size: 14px; margin-right: 20px; font-weight: normal; }
h3.tit-h3 a:hover,
h3.tit-h3 a.cur { color: #37b4e9; }
h3.tit-h3 .i-line{ color:#666; font-weight:normal; display:inline-block; margin-right:20px;}
/*搜索条件的框样式*/

.com-bor-box,
.seach-top-box { margin-bottom: 10px; border: 1px solid #cccccc; background-color: #fff; }
.com-bor-box01 { padding: 20px 30px; }
.com-bor-box02{ margin:0px; border-top:1px solid #BDBDBD; border-bottom:0px solid #BDBDBD; color:#666; background-color:#e9edf4;}
.com-top-bor{ border-top:2px solid #004986;}

.seach-top-box select{ line-height: 20px; border: 1px solid #cccccc; width: 110px; padding: 6px 5px;}
.seach-top-box .seach-top-inner { padding: 10px 0; font-size: 12px; color: #444444; }
.seach-top-inner ul li { float: left; padding: 7px 0; }
.seach-top-inner ul li input{ line-height:26px; height:26px;}
.seach-top-inner ul li.w300 { width: 300px; }
.seach-top-inner ul li.w310 { width: 310px; }
.seach-top-inner ul li.w350 { width: 350px; }
.seach-top-inner ul li.w410 { width: 420px; }
.seach-top-inner ul li span { width: 89px; display: block; text-align: right; line-height: 28px; float: left; }
.seach-top-inner ul li span.w120 { width: 114px; }
.seach-top-inner ul li span.w130 { width: 128px; }
.seach-top-inner ul li span.w100 { width: 100px; }
.seach-top-inner ul li span.w80 { width: 80px; }
.seach-top-inner ul li.btn-list { padding: 7px 0 7px 10px; }
.seach-top-inner ul li.btn-list input {margin: 0 10px 0 0; }
.seach-top-inner ul li .tag_select,
.seach-top-inner ul li .tag_select_hover,
.seach-top-inner ul li .tag_select_open{ line-height:26px; height:26px;}
.seach-top-inner ul li .tag_select,
.seach-top-inner ul li .tag_select_hover,
.seach-top-inner ul li .tag_select_open{ width:78px;}
.seach-top-inner ul li .tag_options{ width:98px;}
.seach-top-inner ul .select-wid02 .tag_select,
.seach-top-inner ul .select-wid02 .tag_select_hover,
.seach-top-inner ul .select-wid02 .tag_select_open{ width:118px;}
.seach-top-inner ul .select-wid02 .tag_options{ width:138px;}
.seach-top-inner ul .select-wid04 .tag_select,
.seach-top-inner ul .select-wid04 .tag_select_hover,
.seach-top-inner ul .select-wid04 .tag_select_open{ width:62px;}
.seach-top-inner ul .select-wid04 .tag_options{ width:82px;}
/*公共的table样式*/

.com-table01 { width: 100%; border-collapse: collapse; border-top: 1px solid #ccc; }
.w890 { width: 890px; margin: 0 auto 20px; }
.com-table01 th { background-color: #f5f7fa; border-bottom: 1px solid #37b4e9; color: #808080; font-weight: normal; font-size: 12px; line-height: 36px; text-align: left; padding:0 2px;}
.com-table01 td { border-bottom: 1px solid #e3e3e3; font-size: 12px; color: #808080; text-align:left; padding: 8px 2px; line-height: 1.5; word-break:break-all;}
.com-word-wrap{ width:123px;word-wrap:break-word;overflow:hidden;}
.w140{ width:140px;}
.w82{ width:82px;}
.w71{ width:71px;}
.a-center { text-align: center !important; }
.a-left { text-align: left !important; }
.a-right { text-align: right !important; }
.com-table01 td.nobor,.com-table02 td.nobor { border: none; background: none !important; }
.com-table01 .bg-td td{ background-color:#f6fafe;}
.com-table01 .bg-td .nobor{ background-color:#fff;}
.base-table { width: 100%; line-height: 32px; }
.base-table th { font-size: 14px; color: #444444; text-align: right; padding: 0 5px 10px; font-weight: normal; vertical-align: top;}
.base-table th .red { color: #ff2626; vertical-align: middle; margin-right: 2px; }
.base-table td { padding: 0 5px; color: #808080; font-size: 14px; vertical-align: top; }
.base-table td input,
.base-table td textarea { font-size: 12px; }
.btn-box input{ font-size:14px !important; line-height:30px;}
.base-table td textarea{ border:1px solid #ccc; padding:5px;}
.base-table01 th,
.base-table01 td { font-size: 14px; padding: 0px 5px; height: auto }
.des-line { border-bottom: 1px dashed #bdbebf; margin-bottom: 20px; }
.jiao-box { width:724px; height:190px; padding: 5px; background-color: #ffffff; border: 1px solid #cccccc; overflow-y:scroll; }
*+html div.jiao-box{ width: 744px;}
.jiao-box li{ float:left; width:710px;}
.jiao-box li i { background: url(../css/images/com_ico.png) no-repeat -46px -331px; display: inline-block; width: 12px; height: 12px; margin-right: 6px; vertical-align: middle; }
.jiao-box li i.open { background-position: -4px -331px; }
.jiao-box li { margin-bottom: 28px; }
.jiao-box li ul { margin-left: 18px; }
.jiao-box li ul li { margin: 0; float:none; width:auto;}
.area-w340 { width: 330px; height: 75px; }
.area-w268 { width: 258px; height: 75px; }
.page-navi { margin-top: 10px; text-align: right; padding: 0 15px; line-height: 46px; border-top: 1px solid #e3e3e3; color: #666; }
.page-navi input { width: 30px; text-align: center; border: 1px solid #ccc; margin: 0 2px; height: 16px; }
.page-navi a { margin: 0 5px; color: #37b4e9; }
.page-navi span { margin: 0 5px; }
.com-table02{border-collapse:collapse; width:100%; background-color:#fff; color:#666;border:1px solid #ccc; border-bottom:0;}
.bor-td-left{ border-left:1px solid #ccc;}
.com-table02 th,.com-table02 td{text-align:left; border-bottom:1px solid #ccc; padding:2px 0; vertical-align:top; font-weight:normal;}
.com-table02 th{ background-color:#fff; color:#808080; padding:6px 0;}
.com-table02 td dl{ padding:10px 25px 12px;text-align:left;}
.com-table02 td dl dt{ font-size:14px;}
.com-table02 td dl dd{ padding-left:30px;}
.com-table02 td dl dd i{ font-family:Arial;}
.balance-div{ padding:23px 25px 0; text-align:left;}
.balance-div .fl{ width:515px;}
.balance-div .w322{ width:322px;}
.ttl01{ font-size:14px;}
.price-div{ padding: 35px 0 0 30px;}
.price-div span{ color:#e47f14; font-weight:bold; font-size:16px; font-family:Arial; float:left; width:246px;}
.price-div span i{ font-size:36px;}
.price-div a{ float:left;}
.frozen-div{width:185px;}
.frozen-div p .span-txt01{ display:inline-block; line-height:14px; background-color:#666; color:#fff; padding:0 2px; margin-right:5px;}
.frozen-div p i{ color:#a4a4a4; font-family:Arial; font-size:14px;}
.frozen-div-02{ width:335px;}
.link-div{ padding-top:33px; font-size:14px;}
.span-border{ padding:0 15px; color:#ccc;}
.com-table02 td.no-data {padding:65px 0;}
.no-data p{color:#f0f0f0; font-size:14px;text-align:center;}
.checking-all{ text-align:right; padding:15px 12px 10px; background-color: #fff !important;}
/**/

.navi-ul { padding: 8px 0 8px 10px; }
.navi-ul01{padding:0px 20px;}
.navi-ul li { padding: 0 10px; float: left; line-height:22px;}
.edit-icon,
.peo-icon,
.lock-icon,
.text-icon,
.edit-icon02,
.del-icon { background: url(../css/images/com_ico.png) no-repeat 0 0; margin: 0 5px; height: 16px; width: 16px; display: inline-block; }
.edit-icon { background-position: -146px -102px; }
.peo-icon { background-position: -209px -102px; }
.lock-icon { background-position: -278px -102px; }
.text-icon { background-position: -350px -102px; }
.text-icon01 {margin-top:4px;}
.del-icon { background-position: -368px -242px; }
.edit-icon02 { background-position: -370px -288px; width: 17px }
.null-box { text-align: center; color: #f0f0f0; font-size: 14px; padding: 25px 0; }
.pop-win { position: relative; height: 100%; width: 100%; z-index:99; }
.pop-win .bg-win { background-color: #000; opacity: 0.3; filter: alpha(opacity=30); width: 100%; height: 100%; position: fixed; left: 0; top: 0; }
.pop-win .pop-bor { position: fixed; left: 48%; top: 50%; width: 510px; opacity: 0.3; filter: alpha(opacity=30); height: 210px; margin-left: -205px; margin-top: -105px; background-color: #000; border-radius: 5px; }
.pop-win .pop-box { position: fixed; left: 48%; top: 50%; width: 500px; height: 200px; margin-left: -200px; margin-top: -100px; background-color: #fff; }
.pop-win .pop-box .base-table th,
.pop-win .pop-box .base-table td { padding: 5px 0; }
.pop-win .pop-box h3 { background-color: #e6f3f8; border-bottom: 1px solid #dde9ee; padding: 6px 20px; font-size: 14px; color: #666666; }
.pop-win .pop-box .innerBox { padding-top: 20px; overflow:hidden;}
.pop-win .pop-box .tips { font-size: 24px; color: #44403f; width:436px; height:66px; overflow:hidden; margin-bottom:30px;}
.pop-win .pop-box .tips span{ display:block; font-size: 18px;word-wrap:break-word; height:66px;vertical-align:middle; margin:8px 0px 0px 0px;}
.alert-icons{ background:url(icons/alert-icons.png) no-repeat 0 0; height:66px;float:left; margin:0px 10px 0px 60px;}
.alert-icons1,
.alert-icons2,
.alert-icons3{ width:56px;}
.alert-icons1{ background-position:0px 0px;}
.alert-icons2{ background-position:0px -66px;}
.alert-icons3{ background-position:0px -132px;}
.pop-win .pop-box ul.ul-btn { text-align: center;margin-left:140px; vertical-align:middle;}
.pop-win .pop-box ul.ul-btn1{ margin-left:200px;}
.pop-win .pop-box ul.ul-btn li { display: inline; width:87px; padding: 0 10px; float:left; }
.pop-win .pop-box ul.ul-btn01{ margin-left: 70px;}
.pop-win .pop-box ul.ul-btn02{margin-left:98px;}

.pop-borange { display: inline-block; text-align: center; height:26px; line-height:26px; font-size: 12px; color: #fff; background-color: #e47f11; width:87px; vertical-align:middle; }
.pop-bgrange { display: inline-block; text-align: center; height:26px; line-height:26px; font-size: 12px; color: #fff; background-color: #cccccc; width:87px; vertical-align:middle; }
.ipt-list li { float: left; margin-right: 10px; font-size: 12px; }
.ipt-list li label input { margin-right: 3px; vertical-align: -1px; }
.tit-h4 { font-size: 14px; color: #44403f; margin: 0px 0 15px 40px; float:left;}
.tip-no-pass{position:static; width:704px; font-size:12px; line-height:22px; color:#f31201;word-break:break-all; background:rgb(254,252,230); margin-left:33px; padding:5px 10px; float:left;}
*+html .tip-no-pass{ width:724px; margin-left:43px;}
.btn-orange { font-size: 12px; color: #e47f12; border: 1px solid #e47f12; border-radius: 3px; background-color: #fff; width: 85px; height: 30px;  vertical-align:middle;}
.reset-psw { margin: 0 auto; width: 420px; }
.blue-link { color: #37b4e9; margin-left: 8px; position:relative; }
.tit-pop { border: 1px solid #37b4e9; width: 420px; display: none; background-color: #f6f6f6; position: absolute; margin: 10px 0; padding: 0 20px; left: -280px; top:20px; z-index: 9; }
.tit-pop01 {border: 1px solid #37b4e9; width: 460px; display: none; background-color: #f6f6f6; position:fixed;left:37%;top:50%; margin:0 auto; padding: 0px 20px 10px; z-index: 9; }
.tit-pop02{position:static; width: 684px;/*默认自适应高度；当通卡公司超过5个时，该高度才起作用 height: 290px;*/ overflow-x:hidden; overflow: auto; margin:20px 0px 0px 0px;}
*+html .tit-pop02{width:704px;}
.tit-pop table { width: 100%; border-collapse: collapse; }
.tit-pop table th { border-bottom: 1px dashed #bdbebf; text-align: center; font-size: 14px; color: #808080; padding:8px 5px;  vertical-align: middle;}
.tit-pop table td { text-align: center; color: #444444; font-size: 12px;  padding:8px 5px; vertical-align: middle;}
.icon-top { background: url(../css/images/com_ico.png) no-repeat -375px -361px; width: 20px; height: 16px; display: block; margin: -12px 0 0 280px; }
.bumen-list { padding-left: 20px; }
.bumen-list li { float: left; width: 135px; }
.bumen-list li input { vertical-align:middle; }
.tit-pop01 .bumen-list li { width: 112px; margin-bottom: 10px; text-align: left; }
.tongka-list{padding-top:40px; margin-top:10px;}
.tit-pop01 .tongka-list label{padding-left:5px;}
.tit-pop01 .tongka-list td input{ vertical-align:middle;}
.error { color: #ff0000; font-size: 12px; height: 20px; line-height: 20px; }
.icon-right { background: url(../css/images/com_ico.png) no-repeat -378px -325px; width: 17px; height: 14px; display: inline-block; margin-left: 5px; }
.tip-error { height: 20px; line-height:1.3; clear:both;}
.tip-red-error { height: 20px;color: #ff0000; line-height:1.3; clear:both;}
.tab-list01{ border: 1px solid #c6c6c6; border-top:1px solid #ebedf0; border-bottom: none; background-color: #f5f7fa; padding-top: 8px;}
.tab-list01 li { float: left; width: 105px; text-align: center; }
.tab-list01 li a{ color: #808080; border-bottom: 1px solid #c6c6c6; margin-bottom:-1px; line-height:39px; height:39px; text-decoration: none; margin-left: -1px; display: block; }
.tab-list01 li a.cur{ color: #5fbfec; background-color: #fff; display: block;border: 1px solid #c6c6c6;line-height:38px; height:38px; border-bottom: 1px solid #fff;}
.tab-list01 li a:hover{color: #5fbfec;}

.btn-box{padding: 10px 0;}
.btn-box input{ vertical-align:top;}
.base-table01 .btn-box{padding-top:20px;}

.com-input-txt{ border:1px solid #ccc; line-height:30px; height:30px; padding:0 5px; vertical-align:middle;}
.w74{ width:74px;}
.w88{ width:88px;}
.w128{ width:128px;}
.w250{ width:250px;}
.w315{ width:315px;}
.w320{ width:320px;}
.w340{ width:340px;}
.w292{ width:292px;}
.w240{width:240px;}
.w210{width:210px;}
.w260{width:260px;}
.w190{ width:190px;}
.w245{width:245px;}
.w145{width:145px;}
.w90{width:90px;}
.w490{width:490px;}
*+html input.w490{ width: 510px;}
.w670{width:670px;}
.w714{width:714px;}
*+html input.w714{ width: 734px;}


/*充值*/
.com-ttl-box .current{color:#37b4e9;display:block;}
.com-gray-box02 .current{display:block;}
.mt30{margin-top:30px;}
.mt20{margin-top:20px;}
.com-gray-box,.com-gray-box02{ border:1px solid #ccc; background-color:#fafafa; padding-bottom:30px; margin-bottom:20px;}
.com-gray-box02{ border-width:1px 2px 3px;}
.com-ttl-box { background-color:#f5f7fa; line-height:38px; color:#666; font-size:14px; border-bottom:1px solid #ebedf0; padding:0 20px;}
.com-ttl-box .common{float:left;cursor:pointer;}
.com-ttl-box .span-border2{float:left;}
.com-ttl-box .more{float:left;cursor:pointer;}
.com-ttl-box-02{ border-color:#c6c6c6;padding:0;}
.recharge-dl{ font-size:14px; line-height:32px; padding:20px 30px 0;}
.recharge-dl dt{ float:left; width:130px; text-align:right;}
.recharge-dl dd{ padding-left:140px;}
.recharge-dl dd input{ vertical-align:top; width:248px; font-size:12px;}
.recharge-dl dd p{ font-size:12px; padding-top:2px;}
.pay-navi-ul{ float:right; width:716px;}
.pay-navi-ul li{ float:left; padding:9px 2px 0 0;}
.pay-navi-ul li a,.pay-navi-ul02 li a{ display:block; width:86px; text-align:center; line-height:27px; border:2px solid #eff0f2; border-bottom:0; background-color:#f8f8f8;}
.pay-navi-ul li a:hover,.pay-navi-ul .on a,
.pay-navi-ul02 li a:hover,.pay-navi-ul02 .on a{ border-color:#ccc; background-color:#fff; padding-bottom:2px; margin-bottom:-2px; position:relative;}
.pay-navi-ul02 li{ float:left; padding-top:9px;}
.pay-navi-ul02 li a { width:98px; line-height:38px; background-color:#f4f6f9; border:0;padding:1px 1px 0;}
.pay-navi-ul02 li a:hover,.pay-navi-ul02 .on a{margin:0 0 -1px -1px;background-color:#fff; color:#37b4e9;border:1px solid #c6c6c6; border-bottom:0; padding:0 0 1px 1px;}
.pay-way-box{ border-top:2px solid #ccc; margin-top:-1px; background-color:#fff;}
.pay-way-box1,.pay-way-box2,.pay-navi-ul1{ display:none;}
.pay-way-list{ padding:8px 0 0 34px;}
.pay-way-list li{ float:left; width:220px; padding:20px 0 20px 28px;}
.pay-way-list .more-link{line-height:32px;}
.pay-way-list img{ display:block; vertical-align:baseline;}
.pay-way-list .span-img {display: block;border: 1px solid #dcdcdc;width: 128px;padding: 3px 1px 2px;}
.pay-way-list label{ position:relative; padding:0 15px 0 25px; float:left; width: 120px;}
.pay-way-list label input{ position:absolute; top:50%; margin-top:-8px; left:0;}
.prompt-span01{display:block;background-color:#e37b0a;color:#fff;font-size:10px;line-height:14px; padding:0 6px; position:absolute; left:37px; top:-15px;}
.prompt-span02{display:block;background-color:#c4eaff;color:#19aeff;font-size:10px;width:14px;padding:2px 0;position:absolute;right:-11px;top:50%;margin-top:-17px;line-height:1.3; text-align:center;*margin-top:-14px;margin-top:-14px\0;}
.pay-way-list01 { background-color: #fafafa; padding-left:0; margin: 10px 0 20px 70px; width: 670px;}
.pay-way-list01  li{ width: 110px;}
.pay-way-list01 .prompt-span01{ left:27px;}
.more-link{ font-size:16px;}
.more-link a{ color:#19aeff;}
.i-more{ display:inline-block; width:19px; height:19px; background-position:-2px -414px; vertical-align:middle; margin:-3px 8px 0 0;}
.problem-list{ color:#44403f; background-color:#fafafa; border-bottom:1px solid #ccc; line-height:20px; padding:15px 37px 20px; margin-bottom:30px;}
.problem-list dt{ font-size:14px; margin-bottom:10px;}
.problem-list ul li{ padding-left:19px; text-indent:-19px;}
.recharge_mode{ padding:20px 50px;}
.recharge_mode span{ font-size:14px; color:#44403f;}
.pop-ttl{ font-size:18px; color:#44403f;}
.wait-box{ text-align:center; padding:0px 0 35px;}
.payment-message .pop-bor{ width:510px; height:250px; margin:-175px 0 0 -205px;}
.payment-message .pop-box{width:500px; height:240px; margin:-170px 0 0 -200px;}
.pop-txt { line-height:1.5; font-size:14px; text-align:center; margin-bottom:35px;}
.pop-txt span{ display:inline-block; margin:0 auto; text-align:left;}

/*转账*/
.transfer-accounts{ padding:33px 50px 15px;}
.transfer-accounts table{ width:610px; border-collapse:collapse; font-size:14px; float:left;}
.transfer-accounts table th,.transfer-accounts table td{ text-align:left; vertical-align:middle; padding:15px 0; line-height:30px;}
.transfer-accounts table th { text-align:right; padding-right:5px;}
.transfer-accounts table input{ font-size:14px;}
.input-box{ position:relative; width:262px; float:left;}
.input-box a{position:absolute; right:1px; top:1px; width:31px; height:30px; border:0; background:url(../css/images/btn01.png) no-repeat; cursor:pointer;}
.notes-txt{ color:#f00; padding-left:10px; float:left; display:none;}
.notes-txt i{ display:inline-block; vertical-align:middle; width:13px; height:13px; background-position:-187px -417px; margin:-3px 5px 0 0;}
.safe-explain{ background-color:#fffaed; border:1px solid #f7d8b7; line-height:24px; font-size:14px; float:right; width:272px; padding:13px 18px 30px;}
.safe-explain dt{ color:#44403f; margin-bottom:3px;}
.safe-explain dd ul li{ padding-left:18px; text-indent:-18px;}
.pop-bill .pop-box{ height:300px; margin-top:-150px;}
.pop-bill .pop-bor{ height:310px; margin-top:-155px;}
.pop-bill .innerBox{ padding:0 45px;}
.pop-bill .innerBox p{ font-size:18px; color:#44403f; text-align:center; margin-bottom:5px;}
.pop-table{ width:100%; border-collapse:collapse; margin-bottom:20px;}
.pop-table th,.pop-table td{ text-align: center; vertical-align:middle; font-weight:normal; padding:6px 8px 0;}
.pop-table th{ border-bottom:1px dashed #bdbebf; padding-bottom:3px;}
.pop-table td{ color:#444;}
.pop-table td label input{ margin:0 15px 0 0; vertical-align:0;}
.pop-table .tr-on td{ background:url(../css/images/bg_tr.gif) repeat-x left 6px;}
.pop-dl{ color:#44403f; font-size:14px; padding:20px 0; min-height:105px;}
.pop-dl dt { float:left; width:128px; text-align:right;}
.pop-dl dd{ padding-left:128px;}
.pop-search{ width:226px; border:1px solid #838383; background-color:#fff; padding:1px; margin:0 auto 5px; position:relative;}
.pop-search input{ width:216px; line-height:28px; background:url(../css/images/bg_search.png) repeat-x left top; padding:0 5px; font-size:14px; color:#808080;}
.pop-search .pop-search-btn{ background:url(../css/images/ico_search.png) no-repeat; width:18px; height:18px; position:absolute; right:8px; top:50%; margin-top:-9px; border:0; cursor:pointer;}

/*账户设置*/
.account-setup{ border:2px solid #ccc; border-top:2px solid #004986; background-color:#fff;}
.account-setup h3.tit-h3{ border:0; border-bottom:1px solid #ebedf0;}
.account-box{padding:15px 28px 50px;}
.account-box h4{ margin:0; color:#808080; font-size:14px; padding:0 50px;}
.account-info { padding:0 78px 15px; border-bottom:1px dashed #bdbebf; margin-bottom:15px;}
.account-box .safe-explain{ margin-top:40px;}
.i_normal{ background-color:#e47f14; font-size:12px; color:#fff; line-height:15px; margin:0 0 0 50px; padding:0 1px;}
.account-table{ float:left; width:540px; border-collapse:collapse; font-size:14px; color:#44403f; margin-top:10px;}
.account-table th,.account-table td{ text-align:left; vertical-align:top; font-weight:normal; padding:8px 0; line-height:30px;}
.account-table th{ text-align:right; padding-right:10px;}
.account-table input,.account-table select{color:#44403f; font-size:12px;}
.account-table td p{ padding:15px 0;}
.photo-box { margin: 33px 0 30px 110px; overflow: hidden; zoom:1;}
.photo-kuang{ background: url(../css/images/img_kuang.png) no-repeat left top; text-align: center; width: 175px; height: 165px; padding-top: 9px;}
.photo-kuang img{ margin: 0 auto;} 

.file-box{ position: relative; margin:25px 0 0 28px; }
.file-box input{ position: absolute; width: 119px; height:32px; z-index: 10; left:0; top:0; opacity:0;filter:alpha(opacity=0); cursor: pointer;  }
.file-box .orange-btn-h32{width: 119px; height: 32px; padding: 0;}

.ehs-box{border-bottom:1px dashed #bdbebf; overflow: hidden; zoom:1; padding: 20px 0 25px 100px; font-size: 14px; color:#44403f;  }
.ehs-box .boxl{ float: left; width: 60px; margin-right: 55px; text-align: center;}
.ehs-box .boxl a{ background: url(../css/images/com_ico.png) no-repeat 0 0; display: inline-block; width: 40px; height:52px; margin-top: 20px;}
.ehs-box .boxl .img01{ background-position: -242px -396px;}
.ehs-box-click .boxl .img01,.ehs-box-hover .boxl .img01{background-position: -309px -396px;}
.ehs-box .boxl .img02{ background-position: 0px -467px;}
.ehs-box-click  .boxl .img02,.ehs-box-hover .boxl .img02{background-position: -71px -467px;}
.ehs-box .boxl .img03{ background-position: -146px -467px;  width: 53px;}
.ehs-box-click .boxl .img03,.ehs-box-hover .boxl .img03{background-position: -218px -467px;}
.ehs-box .boxr{ float: left; padding-top: 5px; }
.pay-box-dl{ overflow: hidden; zoom:1; margin: 0 0 20px 60px; }
.pay-box-dl dt{ color: #37b4e9; font-size: 14px; width: 98px; text-align: left; float: left; height:30px;}
.pay-box-dl dd{  font-size: 12px; overflow: hidden; zoom:1;}
.pay-box-dl .pay-way-list01{ margin: 0; padding: 4px 15px 15px;}
.pay-box-dl .pay-way-list01 .pay-way-list{ padding: 0;} 
.pay-box-dl .pay-way-list01 li {width: 150px; padding: 20px 0 5px 10px;}


.bor-yellow-notes{color:#e47f12;font-size:12px;background-color:#fffaef;border:1px solid #e72929;display:inline-block;line-height:23px;padding:0 10px;}
.notes-box{position: relative;}
.notes-box span{position:absolute; left:142px; top:-15px;}
.account-box h4 .bor-yellow-notes{vertical-align: baseline; margin-left:5px;}
.pop-box-notes{ background:url(../css/images/bg_notes.png) no-repeat left bottom; width:204px; position:fixed; left:50%; top:36%; margin-left:-102px; z-index:200;}
.pop-box-notes p{ font-size:18px; color:#fff; text-align:center; padding:8px 5px 13px;}
.bg-mark { background-color: #000; opacity: 0.3; filter: alpha(opacity=30); width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index:2; }

/*应用中心*/
.app-left { float:left; width:185px; border:2px solid #dcdcdc; border-top-color:#004986; background-color:#f0f2f5; height:603px;}
.app-left ul{ padding:10px 0 0 8px;}
.app-left ul li{ float:left; width:177px; font-size:16px;}
.app-left ul li a{ display:block; border-bottom:1px solid #fefefe; line-height:30px; position:relative; color:#606060;}
.app-left ul li a span{ display:block; border-bottom:1px solid #dcdddf; padding:10px 0 10px 70px;}
.app-left ul li i{ display:block; position:absolute; width:30px; height:30px; left:20px; top:50%; margin-top:-15px;}
.app-left ul .snavi01 i{ background-position:0 -603px;}
.app-left ul .snavi02 i{ background-position:-62px -603px;}
.app-left ul .snavi03 i{ background-position:-124px -603px;}
.app-left ul .snavi04 i{ background-position:-186px -603px;}
.app-left ul .snavi05 i{ background-position:-247px -603px;}
.app-left ul .snavi06 i{ background-position:-309px -603px;}
.app-left ul .snavi07 i{ background-position:-371px -603px;}
.app-left ul li a:hover,
.app-left ul li .on{ background:#fafafa url(images/bg_appleft01.png) no-repeat left top; border-bottom:0; width:179px; margin-right:-10px;}
.app-left ul li a:hover span,
.app-left ul li .on span{ background: url(images/bg_appleft02.png) no-repeat left bottom; border-bottom:0; padding-bottom:12px;}
.app-left ul .snavi01 a:hover i,.app-left ul .snavi01 .on i{ background-position:0 -666px;}
.app-left ul .snavi02 a:hover i,.app-left ul .snavi02 .on i{ background-position:-62px -666px;}
.app-left ul .snavi03 a:hover i,.app-left ul .snavi03 .on i{ background-position:-124px -666px;}
.app-left ul .snavi04 a:hover i,.app-left ul .snavi04 .on i{ background-position:-186px -666px;}
.app-left ul .snavi05 a:hover i,.app-left ul .snavi05 .on i{ background-position:-247px -666px;}
.app-left ul .snavi06 a:hover i,.app-left ul .snavi06 .on i{ background-position:-309px -666px;}
.app-left ul .snavi07 a:hover i,.app-left ul .snavi07 .on i{ background-position:-371px -666px;}

.app-right{ float:right; width:841px; background-color:#fafafa;}
.app-dl{ font-size:14px; padding-right:62px; color:#44403f; line-height:26px; padding-bottom:33px; border-bottom:1px dashed #bdbebf; margin:0 20px;}
.app-dl dt{ float:left; width:110px; text-align:right; clear:left;padding-bottom:10px;}
.app-dl dd{padding-bottom:10px; overflow: hidden; zoom:1; min-height:26px;}
.app-dl .pay-navi-ul{ float:none; width:auto;}
.app-dl .recharge-amount a{ display:block; float:left; border:1px solid #ccc; background-color:#dedede; line-height:20px; padding:1px; min-width:29px; font-family:Arial; text-align:center; color:#606060; margin-right:17px; position: relative;}
.app-dl .recharge-amount a:hover{ border:2px solid #e47f11; padding:0; color:#e47f11; background-color:#fff;}
.app-dl .recharge-amount a.a-click{border:2px solid #e47f11; padding:0; color:#e47f11; background-color:#fff;}
.app-dl .recharge-amount a.a-click s{ display: block; background: url(images/com_ico.png) no-repeat -316px -502px; width: 10px; height: 10px; position: absolute; bottom: 0; right: 0;}
.app-dl .pay-way{ background-color:#fff; margin-bottom:40px;}
.app-dl .recharge-order{ border:1px solid #808080; width:498px; height:156px; overflow-y:scroll; background-color:#fff;}
.app-dl .recharge-order table{ width:100%; font-size:12px; color:#44403f; border-collapse:collapse;}
.app-dl .recharge-order table th,.app-dl .recharge-order table td{ margin:-1px; text-align:center; vertical-align:middle; font-weight:normal; border-bottom:1px solid #bdbdbd; border-right:1px solid #bdbdbd; height:20px; padding:5px 0; line-height:20px;}
.app-dl .recharge-order table th{ line-height:32px; padding:0;}
.app-dl .btn-recharge{ padding:30px 0 0 0;}
.pay-way ul{margin:0 10px; padding:0 10px;}
.pay-way .payway-ul{  padding:12px 20px 12px; margin: 0 0 5px 0;}
.pay-way .payway-ul:hover{ border: 2px solid #a2d3e8; padding: 10px 18px 10px;}
.pay-way .payway-ul-click{ border: 2px solid #37b4e9; padding: 10px 18px 10px; position: relative;}
.pay-way .payway-ul-click s{ background: url(images/com_ico.png) no-repeat -366px -499px; width:14px; height: 14px; display: block; position: absolute; right:0; bottom: 0;}
.pay-line{border-bottom:1px dashed #bdbebf; margin: 0 10px 5px;}
.pay-way .pay-navi-ul{}
.pay-way .pay-navi-ul li a:hover,
.pay-way .pay-navi-ul .on a {border-color:#eff0f2; border-bottom:0; border-top-color:#37b4e9;}
.pay-way .pay-way-box{ margin:0; border:2px solid #eff0f2;}
.pay-way .pay-way-list { padding:10px 0 30px; margin:0;}
.pay-way .pay-way-list li{ width:168px; padding:20px 0 0 25px;}
.pay-way .pay-way-list .span-img{ display:block; border:1px solid #dcdcdc; width:128px; padding:3px 1px 2px;}
.pay-way .pay-way-list img { width:90px;}
.pay-way .prompt-span01{ top:-14px; left:22px;}
.pay-way .prompt-span02{ right:-14px;}
.pay-way .pay-way-list label{ padding:0 0 0 22px; width:auto;}
.app-dl .orange-btn-h32{ width:118px;}
.app-dl02{ color:#44403f; font-size:12px; line-height:20px; padding:15px 40px 35px; margin:0 20px;}
.app-dl02 dt{ font-size:14px; margin-bottom:10px;}

.popConts{ padding: 20px 80px 0 80px; color: #44403f; font-size: 14px;}
.f18{ font-size: 18px;}

.jige-ul{ font-size: 14px; text-align: left;}

.jige-ul li{ text-align: left;}
.jige-ul li em{ width: 120px; display: inline-block; text-align: right; font-style: normal;}
.ok-tips{ position: relative; padding-left: 45px; line-height: 37px; font-size: 18px; color: #44403f; margin-left: 10px; margin-bottom:5px;}
.ok-tips i{ background: url(icons/reg-icons.png) no-repeat -320px 0; display: block; position: absolute; width: 36px; height: 36px; left: 0;}

.err-tips{ position: relative; padding-left: 45px; line-height: 37px; font-size: 18px; color: #44403f; margin-left: 10px; margin-bottom:5px;}
.err-tips i{ background: url(icons/reg-icons.png) no-repeat -358px 0; display: block; position: absolute; width: 36px; height: 36px; left: 0;}

.popConts dt{ float: left;}
.popConts dd{ overflow: hidden; zoom:1;}

.er-set{ color: #f31200; font-size: 12px; background-color: #fffde7; display: inline-block; padding-right: 20px; float: left;}
.er-set i{ background: url(icons/errtip-icon.png) no-repeat left top; width: 16px; height: 16px; display: inline-block; vertical-align: middle; margin-right: 4px;}

/****应用中心－批量充值****/
.app-right .seach-top-inner { color:#444;font-size: 12px; padding:12px 0;}
.app-right .seach-top-inner ul li.btn-list{ padding-left:15px;}
.app-right .select_box{ margin-right:0;}
.app-right .text-icon { margin:0;}
.app-right .null-box{ min-height:125px;}
.app-right .page-navi span.fl,.app-right .page-navi input,.app-right .page-navi span.fl a{ margin:0;}
.app-right .page-navi span.fl span{ margin-left:0;}

/*交易记录&交易详情*/
.tit-h3-01 .yuan-font{font-size:12px;color:#808080;padding-right:20px; font-weight:normal;}
.times { font-size: 14px; color: #44403f; margin: 0px 0px 0px 40px;}
.times-info { margin:0 40px;padding-bottom:10px; border-bottom:1px dashed #bdbebf; margin-bottom:15px;}